<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.scu.detrasher">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".DetrashLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetrasherMainActivity"
            android:label="@string/manager_page_header" />
        <activity
            android:name=".DetrasherStaffActivity"
            android:label="@string/staff_page_header" />
        <activity
            android:name=".DetrasherProfileActivity"
            android:label="@string/profile_page_header" />
        <activity
            android:name=".DetrasherProfilePwdActivity"
            android:label="@string/profile_password_page_header" />

        <activity
            android:name=".DetrasherTaskActivity"
            android:label="@string/task_assign_header" />

        <activity
            android:name=".DetrasherTrashActivity"
            android:label="@string/trash_manager_header" />

        <activity
            android:name=".DetrasherTrashManagerActivity"
            android:label="@string/trash_task_assign_header" />

        <activity
            android:name=".DetrasherTaskManagerActivity"
            android:label="@string/trash_task_complete_header" />
    </application>

</manifest>